.page2{
    width: 100vw;
    height: 100vh;
    background: url("/images/background2.jpg");
    background-size: cover;
    text-align: center;


}
.page2 h1{
    text-align: center;
    padding-top: 150px;



}
.page3{

}
.page4{

}
.page5{

}